.demos h1 {
    font-family: "Arsenica";
    font-size: 100px;
    background: linear-gradient(to bottom, #e0f7d9, #9db799);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: -7px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-bottom: -30px;
    white-space: nowrap;
    text-align: center;
}

.demos p {
    font-family: "Raleway";
    font-size: 30px;
    color: #e0f7d9;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 60px;
}