@font-face {
    font-family: Arsenica;
    src: url("/fonts/Arsenica.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("/fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("/fonts/Raleway-Regular.ttf");
}

.home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-container h1 {
    font-family: "Arsenica";
    font-size: 200px;
    background: linear-gradient(to bottom, #e0f7d9, #9db799);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: -7px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: -20px;
}

.tagline {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
}

.tagline p {
    font-family: "Raleway";
    font-size: 50px;
    background: linear-gradient(to bottom, #e0f7d9, #9db799);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: -7px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 100px;
}

.bio p {
    font-family: "Raleway";
    font-size: 50px;
    background: linear-gradient(to bottom, #e0f7d9, #9db799);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: -7px 2px 4px rgba(0, 0, 0, 0.5);
}