@font-face {
    font-family: Arsenica;
    src: url("/fonts/Arsenica.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("/fonts/Raleway-Regular.ttf");
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: 820px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name-container {
    text-align: center;
}

.name-container h1 {
    font-family: "Arsenica";
    font-size: 200px;
    background: linear-gradient(to bottom, #e0f7d9, #9db799);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: -7px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: -20px;
    white-space: nowrap;
}

.tagline {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.tagline p {
    font-family: "Raleway";
    font-size: 50px;
    background: linear-gradient(to bottom, #e0f7d9, #9db799);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: -7px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
}

.bio p {
    font-family: "Raleway";
    font-size: 30px;
    background: linear-gradient(to bottom, #e0f7d9, #9db799);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: -7px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
    margin: 20px;
}

#bio1 {
    width: 50%;
    float: left;
}

#bio2 {
    width: 50%;
    float: right;
    clear: both;
}

#bio3 {
    width: 50%;
    float: left;
    clear: both;
}

.bio-image {
    max-width: 500px; /* Set the maximum width of the image */
    max-height: 500px; /* Set the maximum height of the image */
    width: auto; /* Allow the image to scale proportionally */
    height: auto; /* Allow the image to scale proportionally */
    margin-right: 20px; /* Add margin to the right of the image for spacing */
}

.bio-container {
    position: relative;
}