.custom-iframe {
    width: 200%;
    height: 800px;
    border: none;
}

.poetry-container {
    position: absolute;
    top: 58%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.title h1 {
    font-family: "Arsenica";
    font-size: 100px;
    background: linear-gradient(to bottom, #e0f7d9, #9db799);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: -7px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    white-space: nowrap;
}