.menu-container {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
  }
  
  .kebab-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 24px;
  }
  
  .bar {
    width: 24px;
    height: 2px;
    background-color: #ffffff; /* Default bar color */
    transition: transform 0.3s ease;
  }
  
  .kebab-menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .kebab-menu.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .kebab-menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* Cream color for the menu items */
  .navbar {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    right: 0; /* Align menu to the right of the kebab menu */
  }
  
  .kebab-menu.open + .navbar {
    display: block;
  }
  
  .navbar a {
    color: #ffffff; /* White color */
    text-decoration: none; /* Remove underline */
  }